body {
  box-sizing: border-box;
  margin: 0;
}

button {
  background: none;
  outline: none;
  border: none;
}

.side-nav-openBtn-area {
  display: none;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  padding-top: 60px;
}

.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.closeBtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.title img {
  width: 430px;
}

.menus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
  padding: 1em;
}

.menus button:hover {
  background-color: beige;
}

.new-image-size {
  max-width: 100%;
  text-align: center;
}

.hide {
  display: none;
}

.news {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 1000px) {
  .side-nav-openBtn-area {
    display: block;
  }
}